.shape {
    position: absolute;
    display: none;
  }
  
  
  
  .img-holder {
    overflow: hidden;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-banner {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: flex-start;
    gap: 30px;
  }
  
  .hero-banner .img-holder.one {
      border-top-right-radius: 70px;
      border-bottom-left-radius: 110px;
    }
  
  .hero-banner .img-holder.two {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 90px;
  }
  
  
  @media (min-width: 575px) {
    .hero-banner {
      grid-template-columns: 1fr 0.9fr;
    }
  
  }
  
  
  
  @media (min-width: 768px) {
  
  
    .hero-banner {
      position: relative;
      z-index: 1;
    }
  
    .hero-banner .img-holder {
      max-width: max-content;
    }
  
    .hero-banner .img-holder.one {
      justify-self: flex-end;
    }
  
    .hero-banner .img-holder.two {
      margin-block-start: 100px;
    }
    .shape {
      display: block;
    }
  
    .hero-shape-2 {
      top: -80px;
      z-index: -1;
    }
  }
  
  .has-scrollbar::-webkit-scrollbar {
    height: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    outline: 2px solid #083344;
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: #083344;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-button { width: 15%; }
  
  